<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>
	<form action="">
		<label for="booksname">
			<p>书名：<input type="text" name="booksname" /></p>
		</label><br />
		<label for="author">
			<p>作者：<input type="text" name="author" /></p>
		</label><br />
		<label for="price">
			<p>价格：<input type="number" name="price" /></p>
		</label><br />
		<label for="kucun">
			<p>库存：<input type="number" name="kucun" /></p>
		</label><br />
		<label for="xiaoliang">
			<p>销量：<input type="number" name="xiaoliang" /></p>
		</label><br />
		<label for="discount">
			<p>折扣：<input type="text" name="discount" /></p>
		</label><br />
		<label for="intro">
			<p>简介：<input type="text" name="intro" /></p>
		</label><br />
		<input type="submit" />
	</form>
</body>
</html>
