<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="./users/addbooks" method="post" class="addform">
		<label for="booksname">
			书名：<input type="text" name="booksname" />
		</label><br />
		<label for="author">
			作者：<input type="text" name="author" />
		</label><br />
		<label for="price">
			价格：<input type="number" name="price" />
		</label><br />
		<label for="kucun">
			库存：<input type="number" name="kucun" />
		</label><br />
		<label for="xiaoliang">
			销量：<input type="number" name="xiaoliang" />
		</label><br />
		<label for="discount">
			折扣：<input type="text" name="discount" />
		</label><br />
		<label for="intro">
			简介：<input type="text" name="intro" />
		</label><br />
		<input type="submit" value="添加" /><br />
	</form>
</body>
</html>