<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

	<form action="./users/register" method="post" id="R_form">
	<h2>新用户注册</h2>
		<label for="username">
			用<b>名</b>户名：<input type="text" name="username" />
		</label><br />
		<label for="psw">
			密<b>名名</b>码：<input type="text" name="psw" />
		</label><br />
		<label for="sex">
			<p id="msex" >性<b>名名</b>别：男<b>名</b><input type="radio" name="sex"/>
			女<b>名</b><input type="radio" name="sex" />		</p>		  
		</label><br />
		<label for="tel">
			电话号码：<input type="number" name="tel" />
		</label><br />
		<label for="email">
			邮<b>名名</b>箱：<input type="email" name="email" />
		</label><br />
		<label for="img">
			头<b>名名</b>像：<input type="file" name="img" />
		</label><br />
		<input type="submit" value="注册" id="regis" /><br />
	</form>
</body>
</html>